[appliedStereotypes~=Stakeholder], 
[appliedStereotypes~=Driver], 
[appliedStereotypes~=Assessment], 
[appliedStereotypes~=Goal], 
[appliedStereotypes~=Requirement], 
[appliedStereotypes~=Constraint], 
[appliedStereotypes~=Principle] { 
	displayName:true;
	elementIcon:false;
	isNameWrap: true;
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Hide compartment for all elements - just show the name and related icon. */
Compartment {
    visible:false;
}

/* Show symbol compartment so that text is "pushed" to upper boundary of element. */
Compartment[kind="symbol"]  {
    visible:true;
}

/* Default settings for "Symbol" shapes. */
*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Turn on "floating label" for "Symbol" shapes. */
*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=Stakeholder] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Stakeholder.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Driver] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Driver.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Assessment] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Assessment.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Goal] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Goal.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Requirement] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Requirement.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Constraint] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Constraint.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Principle] {
	svgFile: 'platform:/plugin/org.papyrus.archimatemotivation/shapes/Principle.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Association], 
[appliedStereotypes~=Aggregation], 
[appliedStereotypes~=Realization], 
[appliedStereotypes~=Influence] { 
 	/*
	routing:Rectilinear;
	roundedBendpointsRadius:10;
	*/
}

[appliedStereotypes~=Stakeholder], 
[appliedStereotypes~=Driver], 
[appliedStereotypes~=Assessment], 
[appliedStereotypes~=Goal], 
[appliedStereotypes~=Requirement], 
[appliedStereotypes~=Constraint], 
[appliedStereotypes~=Principle] { 
		displayIcon:true;
		transparency:0;
		followSVGSymbol:false;
}

* > Label[type=StereotypeLabel]{
    visible: false;
}

[appliedStereotypes~=BusinessActor] {
    svgFile: '';
}

[appliedStereotypes~=BusinessActor] {
    svgFile: '';
}

[appliedStereotypes~=Stakeholder],
[appliedStereotypes~=Driver],
[appliedStereotypes~=Assessment] {
	fillColor:#C390D4;
}

[appliedStereotypes~=Goal],
[appliedStereotypes~=Requirement],
[appliedStereotypes~=Principle],
[appliedStereotypes~=Constraint] {
	fillColor:#ACACE6;
}

[appliedStereotypes~=BusinessActor],
[appliedStereotypes~=BusinessRole],
[appliedStereotypes~=BusinessCollaboration],
[appliedStereotypes~=BusinessInterface],
[appliedStereotypes~=Location],
[appliedStereotypes~=BusinessProcess], 
[appliedStereotypes~=BusinessFunction],
[appliedStereotypes~=BusinessInteraction],
[appliedStereotypes~=BusinessEvent],
[appliedStereotypes~=BusinessService],
[appliedStereotypes~=BusinessObject],
[appliedStereotypes~=Representation],
[appliedStereotypes~=Meaning], 
[appliedStereotypes~=Value],
[appliedStereotypes~=Product],
[appliedStereotypes~=Contract] {
	fillColor:#F3F76D;
}

[appliedStereotypes~=ApplicationComponent],
[appliedStereotypes~=ApplicationFunction],
[appliedStereotypes~=ApplicationInterface], 
[appliedStereotypes~=ApplicationService],
[appliedStereotypes~=ApplicationCollaboration],
[appliedStereotypes~=DataObject],
[appliedStereotypes~=ApplicationInteraction] {
	fillColor:#65F7EE;
}

[appliedStereotypes~=SystemSoftware],
[appliedStereotypes~=Node],
[appliedStereotypes~=Network], 
[appliedStereotypes~=InfrastructureFunction],
[appliedStereotypes~=Device],
[appliedStereotypes~=Artifact],
[appliedStereotypes~=InfrastructureInterface],
[appliedStereotypes~=InfrastructureService] {
	fillColor:#92FC99;
}

[appliedStereotypes~=Plateau],
[appliedStereotypes~=Gap] {
	fillColor:#A7FCC0;
}

[appliedStereotypes~=Deliverable],
[appliedStereotypes~=WorkPackage] {
	fillColor:#FCA7AD;
}

*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=Stakeholder] {
	svgFile: '';
}
[appliedStereotypes~=Driver] {
	svgFile: '';
}
[appliedStereotypes~=Assessment] {
	svgFile: '';
}
[appliedStereotypes~=Goal] {
	svgFile: '';
}
[appliedStereotypes~=Requirement] {
	svgFile: '';
}
[appliedStereotypes~=Constraint] {
	svgFile: '';
}
[appliedStereotypes~=Principle] {
	svgFile: '';
}

[appliedStereotypes~=Stakeholder].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Stakeholder.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Driver].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Driver.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Assessment].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Assessment.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Goal].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Goal.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Requirement].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Requirement.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Constraint].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Constraint.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Principle].Symbol {
	svgFile: 'platform:/plugin/ArchimateMotivation/shapes/Principle.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}

Association { /* , Generalization */
	targetDecoration: none;
}

Association > Label:sourceMultiplicity {
	visible:false;
}

Association > Label:targetMultiplicity {
	visible:false;
}

Association > Label:sourceRole {
	visible:false;
}

Association > Label:targetRole {
	visible:false;
}

Association > Label:name {
	visible:false;
}

Association > Label:stereotype {
	visible:false;
}

Dependency > Label:name {
	visible:false;
}

Dependency > Label:stereotype {
	visible:false;
}

Realization > Label:name {
	visible:false;
}

Realization > Label:stereotype {
	visible:false;
}

Usage > Label:name {
	visible:false;
}

Usage > Label:stereotype {
	visible:false;
}

Generalization > Label:name {
	visible:false;
}

Generalization > Label:stereotype {
	visible:false;
}

[appliedStereotypes~=Assignment] {
	targetDecoration: none;
}