[appliedStereotypes~=Bug], 
[appliedStereotypes~=Keywords], 
[appliedStereotypes~=Dependson], 
[appliedStereotypes~=Blocks], 
[appliedStereotypes~=Cc], 
[appliedStereotypes~=LongDesc], 
[appliedStereotypes~=Attachment] { 
	displayName:true;
	elementIcon:false;
	isNameWrap: true;
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Hide compartment for all elements - just show the name and related icon. */
Compartment {
    visible:false;
}

/* Show symbol compartment so that text is "pushed" to upper boundary of element. */
Compartment[kind="symbol"]  {
    visible:true;
}

/* Default settings for "Symbol" shapes. */
*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Turn on "floating label" for "Symbol" shapes. */
*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=Bug] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Keywords] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Dependson] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Blocks] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Cc] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=LongDesc] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Attachment] {
	svgFile: 'platform:/plugin/org.papyrus.bugzilla/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=keywords], 
[appliedStereotypes~=dependson], 
[appliedStereotypes~=blocks], 
[appliedStereotypes~=cc], 
[appliedStereotypes~=long_desc], 
[appliedStereotypes~=attachment] { 
 	/*
	routing:Rectilinear;
	roundedBendpointsRadius:10;
	*/
}
