<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile description="bugzilla Profile" name="bugzilla Profile" path="pathmap://resources/bugzilla/model.profile.uml" provider="Epsilon"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://resources/bugzilla/" target="platform:/plugin/org.papyrus.bugzilla/"/>
  </extension>
  <extension point="org.eclipse.papyrus.infra.architecture.models">
    <model path="resources/bugzilla.architecture"/>
  </extension>
</plugin>
