[appliedStereotypes~=Conference], 
[appliedStereotypes~=Track], 
[appliedStereotypes~=Slot], 
[appliedStereotypes~=Talk], 
[appliedStereotypes~=Participant], 
[appliedStereotypes~=Lunch], 
[appliedStereotypes~=TimedElement] { 
	displayName:true;
	elementIcon:false;
	isNameWrap: true;
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Hide compartment for all elements - just show the name and related icon. */
Compartment {
    visible:false;
}

/* Show symbol compartment so that text is "pushed" to upper boundary of element. */
Compartment[kind="symbol"]  {
    visible:true;
}

/* Default settings for "Symbol" shapes. */
*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Turn on "floating label" for "Symbol" shapes. */
*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=Conference] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Track] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Slot] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Talk] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Participant] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Lunch] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=TimedElement] {
	svgFile: 'platform:/plugin/org.papyrus.conference/shapes/ApplicationComponent.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=elements], 
[appliedStereotypes~=organizers], 
[appliedStereotypes~=speakers], 
[appliedStereotypes~=slots], 
[appliedStereotypes~=talk], 
[appliedStereotypes~=presenter] { 
 	/*
	routing:Rectilinear;
	roundedBendpointsRadius:10;
	*/
}
