<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile description="profesor Profile" name="profesor Profile" path="pathmap://resources/profesor/model.profile.uml" provider="Epsilon"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://resources/profesor/" target="platform:/plugin/org.papyrus.profesor/"/>
  </extension>
  <extension point="org.eclipse.papyrus.infra.architecture.models">
    <model path="resources/profesor.architecture"/>
  </extension>
</plugin>
