<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
      <profile
            description="MySimpleRML"
            name="MySimpleRML"
            path="pathmap://MYSIMPLERML/srml.profile.uml"
            provider="RW">
      </profile>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.uri_mapping">
      <mapping
            source="pathmap://MYSIMPLERML/"
            target="platform:/plugin/srml.example/">
      </mapping>
   </extension>
   <extension
         point="org.eclipse.uml2.uml.generated_package">
      <profile
            location="pathmap://MYSIMPLERML/srml.profile.uml#_Y3hZsPi5EeiJRprSWVk0Uw"
            uri="http://mySimpleRML/1.0">
      </profile>
   </extension>
   <extension
         point="org.eclipse.papyrus.infra.types.core.elementTypeSetConfiguration">
      <elementTypeSet
            clientContextID="srml.example.elementTypeSet"
            path="srml.elementtypesconfigurations">
      </elementTypeSet>
   </extension>

</plugin>
