[appliedStereotypes~=Step], 
[appliedStereotypes~=Tool], 
[appliedStereotypes~=Person] { 
	displayName:true;
	elementIcon:false;
	isNameWrap: true;
	bold:true;
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Hide compartment for all elements - just show the name and related icon. */
Compartment {
    visible:false;
}

/* Show symbol compartment so that text is "pushed" to upper boundary of element. */
Compartment[kind="symbol"]  {
    visible:true;
}

/* Default settings for "Symbol" shapes. */
*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Turn on "floating label" for "Symbol" shapes. */
*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=Step] {
	svgFile: 'platform:/plugin/org.papyrus.process/shapes/step.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Tool] {
	svgFile: 'platform:/plugin/org.papyrus.process/shapes/tool.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Person] {
	svgFile: 'platform:/plugin/org.papyrus.process/shapes/per.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Role], 
[appliedStereotypes~=familiarWith] { 
 	/*
	routing:Rectilinear;
	roundedBendpointsRadius:10;
	*/
}
