<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile description="bibTeX Profile" name="bibTeX Profile" path="pathmap://resources/bibtex/model.profile.uml" provider="Epsilon"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://resources/bibtex/" target="platform:/plugin/org.papyrus.bibtex/"/>
  </extension>
  <extension point="org.eclipse.papyrus.infra.architecture.models">
    <model path="resources/bibtex.architecture"/>
  </extension>
</plugin>
