[appliedStereotypes~=WorkPackage], 
[appliedStereotypes~=Deliverable], 
[appliedStereotypes~=Plateau], 
[appliedStereotypes~=Gap], 
[appliedStereotypes~=Grouping], 
[appliedStereotypes~=Junction] { 
	displayName:true;
	elementIcon:false;
	isNameWrap: true;
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Hide compartment for all elements - just show the name and related icon. */
Compartment {
    visible:false;
}

/* Show symbol compartment so that text is "pushed" to upper boundary of element. */
Compartment[kind="symbol"]  {
    visible:true;
}

/* Default settings for "Symbol" shapes. */
*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

/* Turn on "floating label" for "Symbol" shapes. */
*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=WorkPackage] {
	svgFile: 'platform:/plugin/org.papyrus.archimatebusiness/shapes/WorkPackage.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Deliverable] {
	svgFile: 'platform:/plugin/org.papyrus.archimatebusiness/shapes/Deliverable.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Plateau] {
	svgFile: 'platform:/plugin/org.papyrus.archimatebusiness/shapes/Plateau.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Gap] {
	svgFile: 'platform:/plugin/org.papyrus.archimatebusiness/shapes/Gap.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Grouping] {
	svgFile: 'platform:/plugin/org.papyrus.archimatebusiness/shapes/Grouping.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Junction] {
	svgFile: 'platform:/plugin/org.papyrus.archimatebusiness/shapes/Junction.svg';
	/*
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+80;
	displayName:false;
	
	*/
}
[appliedStereotypes~=Association], 
[appliedStereotypes~=Access], 
[appliedStereotypes~=UsedBy], 
[appliedStereotypes~=Realization], 
[appliedStereotypes~=Assignment], 
[appliedStereotypes~=Aggregation], 
[appliedStereotypes~=Composition], 
[appliedStereotypes~=Flow], 
[appliedStereotypes~=Triggering], 
[appliedStereotypes~=Specialization] { 
 	/*
	routing:Rectilinear;
	roundedBendpointsRadius:10;
	*/
}

[appliedStereotypes~=WorkPackage], 
[appliedStereotypes~=Deliverable], 
[appliedStereotypes~=Plateau], 
[appliedStereotypes~=Gap], 
[appliedStereotypes~=Grouping], 
[appliedStereotypes~=Junction] { 
		displayIcon:true;
		transparency:0;
		followSVGSymbol:false;
}

* > Label[type=StereotypeLabel]{
    visible: false;
}

[appliedStereotypes~=BusinessActor] {
    svgFile: '';
}

[appliedStereotypes~=BusinessActor] {
    svgFile: '';
}

[appliedStereotypes~=Stakeholder],
[appliedStereotypes~=Driver],
[appliedStereotypes~=Assessment] {
	fillColor:#C390D4;
}

[appliedStereotypes~=Goal],
[appliedStereotypes~=Requirement],
[appliedStereotypes~=Principle],
[appliedStereotypes~=Constraint] {
	fillColor:#ACACE6;
}

[appliedStereotypes~=BusinessActor],
[appliedStereotypes~=BusinessRole],
[appliedStereotypes~=BusinessCollaboration],
[appliedStereotypes~=BusinessInterface],
[appliedStereotypes~=Location],
[appliedStereotypes~=BusinessProcess], 
[appliedStereotypes~=BusinessFunction],
[appliedStereotypes~=BusinessInteraction],
[appliedStereotypes~=BusinessEvent],
[appliedStereotypes~=BusinessService],
[appliedStereotypes~=BusinessObject],
[appliedStereotypes~=Representation],
[appliedStereotypes~=Meaning], 
[appliedStereotypes~=Value],
[appliedStereotypes~=Product],
[appliedStereotypes~=Contract] {
	fillColor:#F3F76D;
}

[appliedStereotypes~=ApplicationComponent],
[appliedStereotypes~=ApplicationFunction],
[appliedStereotypes~=ApplicationInterface], 
[appliedStereotypes~=ApplicationService],
[appliedStereotypes~=ApplicationCollaboration],
[appliedStereotypes~=DataObject],
[appliedStereotypes~=ApplicationInteraction] {
	fillColor:#65F7EE;
}

[appliedStereotypes~=SystemSoftware],
[appliedStereotypes~=Node],
[appliedStereotypes~=Network], 
[appliedStereotypes~=InfrastructureFunction],
[appliedStereotypes~=Device],
[appliedStereotypes~=Artifact],
[appliedStereotypes~=InfrastructureInterface],
[appliedStereotypes~=InfrastructureService] {
	fillColor:#92FC99;
}

[appliedStereotypes~=Plateau],
[appliedStereotypes~=Gap] {
	fillColor:#A7FCC0;
}

[appliedStereotypes~=Deliverable],
[appliedStereotypes~=WorkPackage] {
	fillColor:#FCA7AD;
}

*.Symbol {
	transparency:100;
	followSVGSymbol:true;
	displayIcon:false;
}

*.Symbol > Label {
	visible:true;
}

/* Turn off "stereotype label" for "Symbol" shapes. */
*.Symbol > Label[type=StereotypeLabel] {
	visible:false;
}

[appliedStereotypes~=WorkPackage] {
	svgFile: '';
}
[appliedStereotypes~=Deliverable] {
	svgFile: '';
}
[appliedStereotypes~=Plateau] {
	svgFile: '';
}
[appliedStereotypes~=Gap] {
	svgFile: '';
}
[appliedStereotypes~=Grouping] {
	svgFile: '';
}
[appliedStereotypes~=Junction] {
	svgFile: '';
}

[appliedStereotypes~=WorkPackage].Symbol {
	svgFile: 'platform:/plugin/ArchimateBusiness/shapes/WorkPackage.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Deliverable].Symbol {
	svgFile: 'platform:/plugin/ArchimateBusiness/shapes/Deliverable.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Plateau].Symbol {
	svgFile: 'platform:/plugin/ArchimateBusiness/shapes/Plateau.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Gap].Symbol {
	svgFile: 'platform:/plugin/ArchimateBusiness/shapes/Gap.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Grouping].Symbol {
	svgFile: 'platform:/plugin/ArchimateBusiness/shapes/Grouping.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}
[appliedStereotypes~=Junction].Symbol {
	svgFile: 'platform:/plugin/ArchimateBusiness/shapes/Junction.svg';
	floatingLabelOffsetWidth:+23;
    floatingLabelOffsetHeight:+95;
	displayName:false;
}

Association { /* , Generalization */
	targetDecoration: none;
}

Association > Label:sourceMultiplicity {
	visible:false;
}

Association > Label:targetMultiplicity {
	visible:false;
}

Association > Label:sourceRole {
	visible:false;
}

Association > Label:targetRole {
	visible:false;
}

Association > Label:name {
	visible:false;
}

Association > Label:stereotype {
	visible:false;
}

Dependency > Label:name {
	visible:false;
}

Dependency > Label:stereotype {
	visible:false;
}

Realization > Label:name {
	visible:false;
}

Realization > Label:stereotype {
	visible:false;
}

Usage > Label:name {
	visible:false;
}

Usage > Label:stereotype {
	visible:false;
}

Generalization > Label:name {
	visible:false;
}

Generalization > Label:stereotype {
	visible:false;
}

[appliedStereotypes~=Assignment] {
	targetDecoration: none;
}