<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
  <extension point="org.eclipse.papyrus.uml.extensionpoints.UMLProfile">
    <profile description="wordpress Profile" name="wordpress Profile" path="pathmap://resources/wordpress/model.profile.uml" provider="Epsilon"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.uri_mapping">
    <mapping source="pathmap://resources/wordpress/" target="platform:/plugin/org.papyrus.wordpress/"/>
  </extension>
  <extension point="org.eclipse.papyrus.infra.architecture.models">
    <model path="resources/wordpress.architecture"/>
  </extension>
</plugin>
